:root{
    --yellowColor: hsl(47, 88%, 63%);
    --whiteColor: hsl(0, 0%, 100%);
    --gray500: hsl(0, 0%, 42%);
    --gray950: hsl(0, 0%, 7%);
}

*{
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.padding-top-12px{
    padding-top: 12px;
}

.padding-bottom-12px{
    padding-bottom: 12px;
}

html, body{
    height: 100%;
}

body{
    background-color: var(--yellowColor);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

h1,h2,h3,h4,h5,h6{
    font-weight: 950;
}

p{
    font-size: 1rem;
    font-weight: 500;
}


.card{
    width: clamp(327px, 70vw, 384px);
    background-color: var(--whiteColor);
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: 10px 10px;
}

.card img{
    width: 100%;
    height: auto;
    border-radius: 10px;

}

.card-info{
    padding: 1.5rem 0;
}

.card-info span:first-child{
    background-color: var(--yellowColor);
    padding: 4px 12px;
    border-radius: 4px;
    font-weight: 950;
    font-size: 0.75rem;
}

.card-info span:nth-child(2){
    display: block;
    font-size: 0.75rem;
    font-weight: 650;
}

.card-info h4{
    font-size: 1.25rem;
}

.card-info h4:hover, .card-info h4:focus{
    cursor: pointer;
    color: var(--yellowColor);
}

.card-info p{
    font-size: 0.875rem;
    font-weight: 500;
}

.card-author img{
    display: inline;
    max-width: 2rem;
    max-height: 2rem;
    margin-right: 12px;
    
}


.card-author{
    display: flex;
    align-items: center;
    font-weight: 950;
}

